#app-pagination {
  background: $app-color-primary2;
  height: 134px;
  display: flex;
  align-items: center;
  text-align: center;
}

.left-border {
  border-bottom-left-radius: 1.25rem !important;
  border-top-left-radius: 1.25rem !important;
  color: $app-color-tertiary2;
  font-family: $app-ff-text;
  font-size: $app-size-medium;
}

.right-border {
  border-bottom-right-radius: 1.25rem !important;
  border-top-right-radius: 1.25rem !important;
  color: $app-color-tertiary2;
  font-family: $app-ff-text;
  font-size: $app-size-medium;
}

.page-active {
  background: $app-color-tertiary3 !important;
}

.page-link {
  color: $app-color-tertiary2;
}
