// Color Scheme

// First Color Scheme
$app-color-primary1: #ffffff; // white
$app-color-primary2: #e6e7e7; // platinum
$app-color-primary3: #d1d1d1; // light gray

// Second Color Scheme
$app-color-secondary1: #e56353; // fuzzy wuzzy
$app-color-secondary2: #d76c69; // ruddy pink
$app-color-secondary3: #ecbcba; // spanish pink

// Third Color Scheme
$app-color-tertiary1: #121619; // eerie black
$app-color-tertiary2: #222323; // raisin black
$app-color-tertiary3: #6c6e70; // nickel

// Font Family

// Tittles - Banner / Playfair
$app-ff-tittle: "Playfair Display", serif;

// Texts / Roboto
$app-ff-text: "Roboto", sans-serif;

// Font Weight
$app-fw-light: 300;
$app-fw-regular: 400;
$app-fw-bold: 900;

// Font Style
$app-fs-italic: italic;

// Font Sizes
$app-size-small: 12px;
$app-size-medium: 16px;
$app-size-large: 18px;
$app-size-x-large: 30px;
$app-size-xx-large: 70px;
